@font-face {
    font-family: "Manrope";
    src: url('../font/Manrope/Manrope-Medium.woff2') format('woff2');
    
  
  
    
    
    
}
:root{
    --secondary-color : #BDBDBD;
}
ul {
    list-style-type: none;
  }
a{
    text-decoration: none;
    color: var(--secondary-color);
}

.container{
    display: grid;
    grid-template-areas: 
    'sidebar content profile';
    grid-template-columns: 300px 600px 300px;
    grid-gap: 1rem;
}

.sidebar{
    grid-area: sidebar;
    height: 98vh;
    background-color: white;
    color:#ccc;
    font-weight: bold;
    
    
    
    
}
.content{
    grid-area: content;
    /* border: 2px solid #333; */
    height: 98;
    background-color: white;
    color:black;
    font-weight: bold;
    
    
    
    
}
.profile{
    grid-area: profile;
    border: 2px solid #333;
    height: 98vh;
    background-color: white;
    color:black;
    font-weight: bold;
    
    
    
    
}
.style-img{
    display: flex;
    padding-left: 24px;
    position: relative;
}
/* Fill 1152 */
.img-1{
   position: absolute;
   width: 24px;
   height: 24px;
   left: 59px;
   top: 30px;
    padding-top: 6px;
}
/* SE.svg      */
.img-2{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 94px;
    top: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.1em;
}
/* Ellipse1.svg*/
.img-3{
position: absolute;
width: 10px;
height: 10px;
left: 145px;
top: 39px;
padding-top: 6px;
}
/* T.svg */
.img-4{
    position: absolute;
width: 17px;
height: 37px;
left: 163px;
top: 24px;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.1em;
padding-top: 6px;
}
/*girl svg*/
.girl-img{
    
position: absolute;
top: 350px;
margin-left: 50px;
}
/*menu*/
.main-menu{
    width: 100%;
    height: 40vh;
    margin-left: 36px;
    margin-top: 100px;
    
    
}
.flex{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 40px;
    
    
}
 li {
    
  
    position: absolute;
    list-style: none;
    padding: 8px;
    left: 25px;
   
}
 ul :hover{
    color: #369FFF;
    transition: 0.3s;
    cursor: pointer;
}
 ul #circle:hover{
    color: #369FFF;
    transition: 0.3s;
    cursor: pointer;
}
li #circle:hover{
    color: #369FFF;
    transition: 0.3s;
    cursor: pointer;
}
i{
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: left;
}
span{
    position: absolute;
    left: 50px;
}
#circle{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 75px;
    color: white;
}
#circle:hover{
    color: #369FFF;
    transition: 0.3s;
    cursor: pointer;
    
}
/*paln*/
.plan{
    position: absolute;
    width: 168px;
    height: 108px;
    background-color: #D8DDFF;
    top: 580px;
    left: 50px;
    border-radius: 18px;
    
}
.plan-text{
    position: absolute;
    font-family: "Manrope";
    color: black;
    
    font-size: 12px;
    top: 20px;
    left: 35px;
}
.plan-text2{
    position: absolute;
    font-family: "Manrope";
    color: #369FFF;
    font-size: 12px;
    font-weight: bold;
    top: 60px;
    left: 15px;
}
.chevrons-right{
    color: #369FFF;
    position: absolute;
    top: 55px;
    left: 100px;
    border: 1px solid #369FFF;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    
}

/* font-awesome */

/*  ***Content Page style*** */

.content-main{
    position: relative;
    width: 100%;
    height: auto;
}
.wellcome{
    position: absolute;
    font-family: "Manrope";
    width: 283px;
    height: 25px;
    left: 28px;
    top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #369FFF;
}
.courses{
    position: absolute;
width: 170px;
height: 41px;
left: 28px;
top: 35px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 41px;
color: #303030;
}
#view{
position: absolute;
width: 50px;
height: 15px;
left: 110px;
top: 50px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #369FFF;
}
.search{
position: absolute;
width: 58px;
height: 19px;
left: 450px;
top: 50px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #BDBDBD;
}
.search-font{
position: absolute;
left: 30px;
 top: 1px;
 bottom: 15px;
}

/*   SECTIONS    */
.section-main{
    position: absolute;
    top: 80px;
}
.french{
    position: absolute;
width: 280px;
height: 150px;
left: 1px;
top: 20px;

border-radius: 20px;
background-color:  #369FFF;
}
.Portugese{
    position: absolute;
width: 280px;
height: 150px;
left: 300px;
top: 20px;
border-radius: 20px;
background-color:  #FF993A;
}
.Italian{
    position: absolute;
width: 280px;
height: 150px;
left: 1px;
top: 190px;
background-color:  #8AC53E;
border-radius: 20px;
}
.German{
    position: absolute;
width: 280px;
height: 150px;
left: 300px;
top: 190px;
background-color:  #FFD143;
border-radius: 20px;

}
.Intersect{
   border-radius: 20px 0px 20px 0px ;
   opacity: 0.7;

}
.text-french{
    position: absolute;
width: 67px;
height: 27px;
left: 25px;
top: 18px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;

}
.text-french2{
    position: absolute;
width: 80px;
height: 18px;
left: 25px;
top: 50px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #F0F0F0;

}
.frame{
    position: absolute;
    width: 50px;
    height: 110px;
    left: 190px;
    top: 26px;
}
.Ellipse{
box-sizing: border-box;
position: absolute;
width: 82px;
height: 62px;
left: 23px;
top: 74px;


}
#Ellipse1{
    color: rgba(0, 110, 211, 0.4);
}
#Ellipse2{
    position: absolute;
    width: 82px;
    height: 62px;
    left: 0px;
    top: 0px;
    color:#FFFFFF
}
.diag-num{
 position: absolute;
width: 29px;
height: 19px;
left: 26px;
top: 21px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;

}
.frame3{
    position: absolute;
    width: 80px;
    height: 110px;
    left: 170px;
    top: 26px;
}